body {
  // GRID ONLY {
  background-repeat: no-repeat;
  background-position: 50% 0;
  // }
}

@media #{$mobile-only} {
  // GRID ONLY {
  body {
    &.body-index {
      background-image: url("../img/scaffold-index-1-mobile-with-menu.png");
    }

    &.body-catalog {
      background-image: url("../img/scaffold-catalog-1-mobile.png");
    }

    &.body-form {
      background-image: url("../img/scaffold-form-1-mobile.png");
    }
  }
  // }
}

@media #{$tablet-only} {
  // GRID ONLY {
  body {
    &.body-index {
      background-image: url("../img/scaffold-index-2-tablet.png");
    }

    &.body-catalog {
      background-image: url("../img/scaffold-catalog-2-tablet.png");
    }

    &.body-form {
      background-image: url("../img/scaffold-form-2-tablet.png");
    }
  }
  // }
}

@media #{$desktop-only} {
  // GRID ONLY {
  body {
    &.body-index {
      background-image: url("../img/scaffold-index-3-desktop.png");
    }

    &.body-catalog {
      background-image: url("../img/scaffold-catalog-3-desktop.png");
    }

    &.body-form {
      background-image: url("../img/scaffold-form-3-desktop.png");
    }
  }
  // }
}
