$x-palette-black: #000000;
$x-palette-gray-darker: #444444;
$x-palette-gray-dark: #e5e5e5;
$x-palette-gray-light: #ececec;
$x-palette-gray-lighter: #f1f1f1;
$x-palette-green-dark: #56c3b2;
$x-palette-green-light: #63d1bb;
$x-palette-white-almost: #f9f9f9;
$x-palette-white: #ffffff;

$palette-hero-image-background: $x-palette-white-almost;
$palette-border-dark: $x-palette-gray-dark;
$palette-border-darker: $x-palette-black;
$palette-border-light: $x-palette-gray-light;
$palette-primary-dark: $x-palette-green-dark;
$palette-primary-light: $x-palette-green-light;
$palette-secondary-dark: $x-palette-gray-lighter;
$palette-secondary-light: $x-palette-white;
$palette-text-bold: $x-palette-black;
$palette-text: $x-palette-gray-darker;

$font-family-bold: "Open Sans Bold", "Arial", sans-serif;
$font-family: "Open Sans", "Arial", sans-serif;

$retina: "(min-resolution: 1.5dppx)";

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$mobile-only: "(max-width: #{$tablet-width - 1px})";
$tablet-only: "(min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})";
$desktop-only: "(min-width: #{$desktop-width})";
