.about-us__container {
  @include container-with-padding();
}

.about-us__title {
  margin: 0;

  font-weight: $bold-weight;
  font-size: 25px;
  line-height: 30px;
  color: $palette-text-bold;
}

.about-us__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us__item {
  font-weight: $bold-weight;
  font-size: 17px;
  line-height: 19px;
  color: $palette-text-bold;
}

.about-us__item--feature-1 {
  position: relative;

  .about-us__item-icon {
    position: absolute;
    bottom: 64px;
    left: 8px;
  }
}

.about-us__item--feature-2 {
  position: relative;

  .about-us__item-icon {
    position: absolute;
    bottom: 64px;
    left: 3px;
  }
}

.about-us__item--feature-3 {
  position: relative;

  .about-us__item-icon {
    position: absolute;
    bottom: 73px;
    left: 1px;
  }
}

.about-us__item--feature-4 {
  position: relative;

  .about-us__item-icon {
    position: absolute;
    bottom: 74px;
    left: -6px;
  }
}

.about-us__item--feature-5 {
  position: relative;

  .about-us__item-icon {
    position: absolute;
    bottom: 68px;
    left: 6px;
  }
}

.about-us__item--feature-6 {
  position: relative;

  .about-us__item-icon {
    position: absolute;
    bottom: 67px;
    left: 3px;
  }
}

@media #{$mobile-only} {
  .about-us {
    padding-top: 26px;
  }

  .about-us__list {
    margin-top: 2px;
  }

  .about-us__item {
    padding-top: 85px;
  }

  .about-us__item--feature-1 {
    order: 1;

    .about-us__item-icon {
      bottom: 56px;
      left: 8px;
    }
  }

  .about-us__item--feature-2 {
    order: 4;

    .about-us__item-icon {
      bottom: 56px;
      left: 3px;
    }
  }

  .about-us__item--feature-3 {
    order: 2;

    .about-us__item-icon {
      bottom: 65px;
      left: 0;
    }
  }

  .about-us__item--feature-4 {
    order: 5;

    .about-us__item-icon {
      bottom: 66px;
      left: -6px;
    }
  }

  .about-us__item--feature-5 {
    order: 3;

    .about-us__item-icon {
      bottom: 60px;
      left: 7px;
    }
  }

  .about-us__item--feature-6 {
    order: 6;

    .about-us__item-icon {
      bottom: 59px;
      left: 3px;
    }
  }
}

@media #{$tablet-only} {
  .about-us {
    padding-top: 51px;
    padding-bottom: 80px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    margin-top: -7px;
  }

  .about-us__item {
    width: 333px;
    padding-top: 107px;

    font-size: 20px;
    line-height: 24px;
  }
}

@media #{$desktop} {
  .about-us {
    padding-top: 58px;
    padding-bottom: 87px;
  }

  .about-us__title {
    margin-left: 175px;

    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    margin-top: -4px;
    margin-left: 175px;
    margin-right: 175px;
  }

  .about-us__item {
    width: 350px;
    padding-top: 107px;

    font-size: 20px;
    line-height: 24px;
  }
}
