.catalog__container {
  @include container-with-padding();
}

.catalog__title {
  margin: 0;

  font-family: $font-family-bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $palette-text-bold;

  // background-color: $palette-secondary-dark;
}

@media #{$mobile-only} {
  .catalog__title {
    padding-top: 70px;
    padding-bottom: 76px;
  }

  .catalog__products {
    display: flex;
    flex-direction: column;
  }
}

@media #{$tablet-only} {
  .catalog__title {
    padding-top: 46px;
    padding-bottom: 82px;

    font-size: 43px;
    line-height: 50px;
  }

  .catalog__products {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
}

@media #{$desktop-only} {
  .catalog__title {
    padding-top: 46px;
    padding-bottom: 104px;

    font-size: 53px;
    line-height: 57px;
  }

  .catalog__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
