.catalog__container {
  @include container-with-padding();
}

@media #{$mobile-only} {
  .catalog__products {
    display: flex;
    flex-direction: column;
  }
}

@media #{$tablet-only} {
  .catalog__products {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
}

@media #{$desktop} {
  .catalog__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
