.comment {
  &__title {
    font-size: 15px;
    line-height: 30px;
  }

  &__author-name {
    font-family: $font-family-bold;
    font-size: 18px;
    line-height: 24px;
    color: $palette-text-bold;
  }

  &__author-nickname {
    font-size: 18px;
    line-height: 30px;
  }
}
