.featured-product {
  &__title {
    font-family: $font-family-bold;
    font-size: 25px;
    line-height: 30px;
    color: $palette-text-bold;
  }

  &__subtitle {
    font-family: $font-family-bold;
    font-size: 17px;
    line-height: 16px;
    text-transform: uppercase;
    color: $palette-primary-light;
  }

  &__price {
    font-family: $font-family-bold;
    font-size: 17px;
    line-height: 24px;
    color: inherit;
  }

  &__link {
    font-family: $font-family-bold;
    font-size: 17px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
  }
}
