.featured-product {
  // GRID ONLY {
  outline: 1px solid red;
  // }
}

.featured-product__container {
  @include container();
}

.featured-product__header {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
}

.featured-product__title {
  margin: 0;

  font-family: $font-family-bold;
  font-size: 25px;
  line-height: 30px;
  color: $palette-text-bold;
}

.featured-product__subtitle {
  font-family: $font-family-bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $palette-primary-light;
}

.featured-product__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 25px;
}

.featured-product__description {
  margin: 0;

  font-size: 15px;
  line-height: 24px;
}

.featured-product__traits {
  width: 100%;
  margin-top: 19px;

  font-size: 15px;
  line-height: 20px;

  table-layout: fixed;
  border-collapse: collapse;

  td {
    padding: 9px 0;

    border-bottom: 1px solid $palette-border;
  }

  td:first-child {
    width: 98px;
  }
}

.featured-product__photo-wrapper {
  margin-top: 28px;
}

.featured-product__price {
  margin-top: 20px;

  font-family: $font-family-bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: inherit;
}

.featured-product__link {
  @include button();

  margin-top: 24px;
}

@media #{$mobile-only} {
  .featured-product__container {
    width: 260px;
    padding: 0 30px;
  }

  .featured-product__subtitle {
    margin-top: 8px;

    br {
      content: "";
    }

    br::after {
      content: " ";
    }
  }
}

@media #{$tablet} {
  .featured-product__header {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 45px;
  }

  .featured-product__title {
    font-size: 43px;
    line-height: 50px;
  }

  .featured-product__subtitle {
    padding-top: 12px;
    padding-right: 27px;

    text-align: center;
  }

  .featured-product__content {
    align-content: space-between;
    height: 413px;
    margin-top: 49px;
  }

  .featured-product__description {
    width: 292px;

    font-size: 17px;
    line-height: 30px;
  }

  .featured-product__traits {
    width: 292px;
    margin-top: 38px;
  }

  .featured-product__photo-wrapper {
    order: 1;
    margin-top: 8px;
  }

  .featured-product__price {
    width: 292px;
    margin-top: 57px;

    font-size: 20px;
    line-height: 24px;
  }

  .featured-product__link {
    width: 288px;
    margin-top: 33px;
  }
}

@media #{$desktop} {
  .featured-product__container {
    position: relative;
  }

  .featured-product__header {
    position: absolute;
    top: 123px;
    left: 47px;

    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
  }

  .featured-product__title {
    margin-left: 24px;

    font-size: 53px;
    line-height: 57px;
  }

  .featured-product__subtitle {
    order: -1;
    margin-top: 5px;
  }

  .featured-product__content {
    height: 638px;
    margin-top: 0;
    padding-top: 71px;
  }

  .featured-product__description {
    margin-top: 158px;
    margin-left: 175px;
  }

  .featured-product__traits {
    margin-top: 52px;
    margin-left: 175px;
  }

  .featured-product__photo-wrapper {
    margin-top: 0;
  }

  .featured-product__price {
    margin-top: 109px;
    margin-left: 175px;
  }

  .featured-product__link {
    margin-left: 175px;
  }
}
