.order__title {
  font-size: 27px;
  line-height: 30px;
  color: $palette-text-bold;

  background-color: $palette-secondary-dark;
}

.order__instructions {
  font-size: 13px;
  line-height: 24px;
}

.order__form-note {
  font-size: 14px;
  line-height: 5.24px;
}

.order__form-button {
  font-family: $font-family-bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  background-color: $palette-secondary-light;
  border: 0;
  cursor: pointer;
}
