.product__title {
  font-family: $font-family-bold;
  font-size: 17px;
  line-height: 24px;
  color: $palette-text-bold;
}

.product__description {
  font-size: 13px;
  line-height: 30px;
}

.product__price {
  font-family: $font-family-bold;
  font-size: 15px;
  line-height: 24px;
  color: $palette-text-bold;
}
