.production-process__title {
  font-family: $font-family-bold;
  font-size: 17px;
  line-height: 24px;
  color: $palette-text-bold;
}

.production-process__description {
  font-size: 13px;
  line-height: 24px;
}

.production-process__link {
  font-family: $font-family-bold;
  font-size: 17px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
