.site-menu {
  &__list {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    font-family: $font-family-bold;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: $palette-text-bold;
  }
}
